<html>
  <head>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>User_name</th>
        <th>Email</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.user_name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </table>
    <a href="/">Back</a>
  </body>
</html>
